@import "tailwindcss";

@theme {
   --color-accent: #04ffc0;
}

body {
   @apply h-full max-w-full;
}

@layer base {
   html,
   body {
      @apply w-full max-w-full bg-white text-black;
   }
   :focus,
   :focus-visible {
      @apply outline-none;
   }
   button {
      @apply cursor-pointer;
   }
   h1 {
      @apply text-3xl font-bold tracking-wide;
   }
}
