@import "tailwindcss";

@theme {
   --color-light-white: #f7f8fa;
   --color-gray: #ebebed;

   --default-transition-duration: 300ms;
}

body {
   @apply h-full max-w-full;
}

@layer base {
   html,
   body {
      @apply h-full max-w-full bg-white text-black;
   }
   :focus,
   :focus-visible {
      @apply outline-none;
   }
   button {
      @apply cursor-pointer;
   }
   h1 {
      @apply text-3xl font-bold tracking-wide;
   }
}
